<section class="agradecimiento">
    <img src="https://i.imgur.com/HjbRpbu.jpg" alt="">
    <div class="container">
        <div class="row">
            <p>kjasdnfjksnkfethgdfhgfffffffffffffffffjksdf</p>
        </div>
    </div>
</section>