{{#each errors }}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{text}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/each}}

<div class="presentacion1">
    <div class="contacto">
        <img src="https://i.imgur.com/62s2LjP.png" title="Contacto" />
    </div>
    <div class="titulo-servicios contactotitulo">
        <h1>Contacto</h1>
    </div>
</div>
<div class="general">
    <div class="body-contact">
        <div class="contact-in">
            <div class="contact-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3976.60821609872!2d-74.13267728473967!3d4.663737443274331!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f9c7c183b5caf%3A0xac7d29a15cf82ed1!2sHayuelos%20Centro%20Comercial!5e0!3m2!1ses!2sco!4v1616603313380!5m2!1ses!2sco" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
            <div class="contact-form">
                <h1>Contactanos</h1>
                <form class="form-contact"action="">
                    <input type="text" name="name" id="name" placeholder="Nombre" class="contact-form-txt">
                    <input type="email" name="email" id="email" placeholder="Email" class="contact-form-txt">
                    <input type="text" name="phone" id="phone" placeholder="Telefono" class="contact-form-txt">
                    <input type="text" name="company" id="company" placeholder="Empresa" class="contact-form-txt">
                    <textarea placeholder="Message" class="contact-form-txtarea"></textarea>
                    <input type="submit" class="submit-class" value="enviar">
                </form>
            </div>
        </div>
    </div>
</div>