<div class="presentacion1">
    <div class="contacto">
        <img src="https://i.imgur.com/62s2LjP.png" title="Contacto" />
    </div>
    <div class="titulo-servicios contactotitulo">
        <h1>Contacto</h1>
    </div>
</div>

<div class="container" id="contenedor-contacto">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card shadow" style="width: 20rem;">
                <div class="inner">
                    <img src="https://i.imgur.com/DxV1TQr.jpg" class="card-img-top" alt="...">
                </div>
                <div class="card-body text-center">
                    <h5 class="card-title">Encuentranos</h5>
                    <p class="card-text">
                        Encuentre el camino para llegar a PyQ Consultores. Es muy facil utilizando el mapa.
                    </p>
                    <a href="/contacto/como-llegar" class="btn btn-info">Saber más ....</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card shadow" style="width: 20rem;">
                <div class="inner">
                    <img src="https://i.imgur.com/5eDlqTY.jpg" class="card-img-top" alt="...">
                </div>
                <div class="card-body text-center">
                    <h5 class="card-title">Formulario de Contacto</h5>
                    <p class="card-text">
                        Utiliza nuestro formulario para que puedas contactar con nosotros y poder resolver tus dudas.
                    </p>
                    <a href="/contacto/formulario" class="btn btn-info">Saber más ....</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card shadow" style="width: 20rem;">
                <div class="inner">
                    <img src="https://i.imgur.com/3y3EIRa.jpg" class="card-img-top" alt="...">
                </div>
                <div class="card-body text-center">
                    <h5 class="card-title">Manejo de tu informacion</h5>
                    <p class="card-text">
                        Conoce las politica Habeas Data, y el uso que daremos de manejo de tu informacion.
                    </p>
                    <a href="/contacto/proteccion-datos" class="btn btn-info">Saber más ....</a>
                </div>
            </div>
        </div>
            
        <a href="/contacto/pongase-en-contacto">dfsdfsdd</a>

    </div>
</div>