{{#each errors }}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{text}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/each}}

<div class="presentacion1">
    <div class="contacto">
        <img src="https://i.imgur.com/62s2LjP.png" title="Contacto" />
    </div>
    <div class="titulo-servicios contactotitulo">
        <h1>Contacto</h1>
    </div>
</div>

<div class="container p-4">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <form id="task-form" action="/send-data" method="POST">

                        <div class="form-group">
                            <input type="text" name="name" class="form-control" placeholder="Name " id="name" autofocus>
                        </div>

                        <div class="form-group">
                            <input type="text" name="mail" placeholder="Email" class="form-control" id="mail">
                        </div>

                        <div class="form-group">
                            <input type="text" name="phone" placeholder="Phone" class="form-control" id="phone">
                        </div>

                        <div class="form-group">
                            <input type="text" name="message" placeholder="Message" class="form-control" id="text">
                        </div>

                        <button class="btn btn-primary btn-block">
                            Send
                        </button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
