<div class="presentacion1">
    <div class="contacto">
        <img src="https://i.imgur.com/62s2LjP.png" title="Contacto" />
    </div>
    <div class="titulo-servicios contactotitulo">
        <h1>Contacto</h1>
    </div>
</div>

<a href="/contacto/formulario"> <h3>Contactanos</h3></a>
<a href="/contacto/como-llegar"> <h3>Ubicanos</h3></a>
<a href="/contacto/proteccion-datos"> <h3>Proteccion de Datos</h3></a>