{{#each errors }}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{text}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/each}}

<div class="presentacion1">
    <div class="contacto">
        <img src="https://i.imgur.com/62s2LjP.png" title="Contacto" />
    </div>
    <div class="titulo-servicios contactotitulo">
        <h1>Contacto</h1>
    </div>
</div>
<section class="body-contact">
    <form id="task-form" action="/formulario" method="POST">
        <div class="bg-info contact4 overflow-hiddedn position-relative">
            <div class="row no-gutters">
                <div class="container">
                    <div class="col-lg-6 contact-box mb-4 mb-md-0">
                        <div class="">
                            <h1 class="title font-weight-light text-white mt-2">Contactanos</h1>
                            <form class="mt-3">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group mt-2">
                                            <input class="form-control text-white" type="text" placeholder="Nombre"
                                                name="name">
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group mt-2">
                                            <input class="form-control text-white" type="email" placeholder="Email"
                                                name="email">
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group mt-2">
                                            <input id="phone-input"class="form-control text-white" type="number" placeholder="Telefono"
                                                name="phone">
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group mt-2">
                                            <input class="form-control text-white" type="text" placeholder="Empresa"
                                                name="company">
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group mt-2">
                                            <textarea class="form-control text-white" rows="3"
                                                placeholder="Mensaje" name="message"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 d-flex align-items-center mt-2">
                                        <button type="submit" class="btn bg-white text-inverse px-3 py-2"><span>Enviar</span></button>
                                    </div>
                                    <a id="proteccion-datos"href="./contacto/proteccion-datos">Conozca nuestra politica de privacidad sobre el manejo que daremos a su informacion</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 right-image p-r-0">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3976.60821609872!2d-74.13267728473967!3d4.663737443274331!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f9c7c183b5caf%3A0xac7d29a15cf82ed1!2sHayuelos%20Centro%20Comercial!5e0!3m2!1ses!2sco!4v1616603313380!5m2!1ses!2sco"
                        width="103%" height="588" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
            </div>
        </div>
    </form>

</section>