{{#each errors }}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{text}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/each}}

<div class="contacto-titulo">
    <h1>Contacto</h1>
</div>
<section class="body-contact">
    <form id="task-form" action="/formulario" method="POST">
        <div class="bg-info contact4 overflow-hiddedn position-relative">
            <div class="row no-gutters">
                <div class="container">
                    <div class="col-lg-6 contact-box mb-4 mb-md-0">
                        <h1 class="itle font-weight-light text-white mt-2">Contactanos</h1>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group mt-2"><input class="form-control text-white" name="name"
                                        type="text" placeholder="Nombre" /></div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group mt-2"><input class="form-control text-white" name="email"
                                        type="email" placeholder="Email" /></div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group mt-2"><input class="form-control text-white" name="phone"
                                        type="tex" placeholder="Telefono" /></div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group mt-2"><input class="form-control text-white" name="company"
                                        type="text" placeholder="Empresa" /></div>
                            </div>
                            <p id="proteccion-datos">En caso de no poder brindar la informacion. Por favor llene el
                                espacio de la siguiente forma N/A</p>
                            <div class="col-lg-12">
                                <div class="form-group mt-2"><textarea class="form-control text-white" name="message"
                                        rows="3" placeholder="Mensaje"></textarea></div>
                            </div>
                            <div class="col-lg-12 d-flex align-items-center mt-2"><button
                                    class="btn bg-white text-inverse px-3 py-2" type="submit">Submit</button></div>
                            <p id="proteccion-datos">Conozca nuestra politica de privacidad sobre el manejo que
                                daremos a su informacion</p>
                            <a href="/contacto/pongase-en-contacto">Politicas de Privacidad</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 right-image p-r-0"> 
                    <div id="map"></div>
                </div>
            </div>
        </div>
    </form>
</section>
<script LANGUAGE="JavaScript">
    history.forward()
</script>