<div class="presentacion1">
    <div class="contacto">
        <img src="https://i.imgur.com/62s2LjP.png" title="Contacto" />
    </div>
    <div class="titulo-servicios contactotitulo">
        <h1>Contacto</h1>
    </div>
</div>

<a href="/contacto/formulario"> hola que hace</a>