{{#each errors }}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{text}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/each}}

<div class="presentacion1">
    <div class="contacto">
        <img src="https://i.imgur.com/62s2LjP.png" title="Contacto" />
    </div>
    <div class="titulo-servicios contactotitulo">
        <h1>Contacto</h1>
    </div>
</div>
<section class="body-contact">
    <form id="task-form" action="/formulario" method="POST">
        <div class="bg-info contact4 overflow-hiddedn position-relative">
            <div class="row no-gutters">
                <div class="container">
                    <div class="col-lg-6 contact-box mb-4 mb-md-0">
                        <div class="">
                            <h1 class="itle font-weight-light text-white mt-2">Contactanos</h1>
                            <form class="mt-3">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group mt-2">
                                            <input class="form-control text-white" type="text" placeholder="Nombre"
                                                name="name">
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group mt-2">
                                            <input class="form-control text-white" type="email" placeholder="Email"
                                                name="email">
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group mt-2">
                                            <input class="form-control text-white" type="tex" placeholder="Telefono"
                                                name="phone">
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group mt-2">
                                            <input class="form-control text-white" type="text" placeholder="Empresa"
                                                name="company">
                                        </div>
                                    </div>
                                    <p id="proteccion-datos">En caso de no poder brindar la informacion. Por favor llene el espacio de la siguiente forma N/A</P>
                                    <div class="col-lg-12">
                                        <div class="form-group mt-2">
                                            <textarea class="form-control text-white" rows="3"
                                                placeholder="Mensaje" name="message"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 d-flex align-items-center mt-2">
                                        <button type="submit" class="btn bg-white text-inverse px-3 py-2"><span>Submit</span></button>
                                    </div>
                                    <p id="proteccion-datos">Conozca nuestra politica de privacidad sobre el manejo que daremos a su informacion</p>
                                    <a href="/contacto/pongase-en-contacto" >Politicas de Privacidad</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 right-image p-r-0">
                   <div id="map"></div>
                </div>
            </div>
        </div>
</section>
<script LANGUAGE="JavaScript">
    history.forward()
</script>