<div class="titulo-actualidad uno" id="noticias">
    <h2>Noticias</h2>
</div>
<section id="body-noticias">
    <div class="row ">
        <a class="dirreccion col-12 col-md-6 col-lg-4 col-xl-3"
            href="https://www.elespectador.com/noticias/economia/anh-advierte-sobre-campana-internacional-en-contra-del-fracking/">
            <div class="card">
                <img src="https://i.imgur.com/71qCRQX.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">ANH señaló la existencia de otro tipo de yacimiento no convencional en el
                        país</h5>
                    <p class="card-text">
                        La Agencia Nacional de Hidrocarburos reveló que se trata de un yacimiento conocido como
                        arena bituminosa (abundante en lugares como Canadá), que se encuentra distribuido en seis
                        cuencas y que puede producir entre 16.000 y 23.000 millones de barriles adicionales de
                        crudo.
                    </p>
                </div>
            </div>
        </a>
        <a class="dirreccion col-12 col-md-6 col-lg-4 col-xl-3"
            href="https://www.elespectador.com/noticias/economia/anh-advierte-sobre-campana-internacional-en-contra-del-fracking/">
            <div class="card">
                <img src="https://i.imgur.com/71qCRQX.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">ANH señaló la existencia de otro tipo de yacimiento no convencional en el
                        país</h5>
                    <p class="card-text">
                        La Agencia Nacional de Hidrocarburos reveló que se trata de un yacimiento conocido como
                        arena bituminosa (abundante en lugares como Canadá), que se encuentra distribuido en seis
                        cuencas y que puede producir entre 16.000 y 23.000 millones de barriles adicionales de
                        crudo.
                    </p>
                </div>
            </div>
        </a>
        <a class="dirreccion col-12 col-md-6 col-lg-4 col-xl-3"
            href="https://www.elespectador.com/noticias/economia/anh-advierte-sobre-campana-internacional-en-contra-del-fracking/">
            <div class="card">
                <img src="https://i.imgur.com/71qCRQX.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">ANH señaló la existencia de otro tipo de yacimiento no convencional en el
                        país</h5>
                    <p class="card-text">
                        La Agencia Nacional de Hidrocarburos reveló que se trata de un yacimiento conocido como
                        arena bituminosa (abundante en lugares como Canadá), que se encuentra distribuido en seis
                        cuencas y que puede producir entre 16.000 y 23.000 millones de barriles adicionales de
                        crudo.
                    </p>
                </div>
            </div>
        </a>
        <a class="dirreccion col-12 col-md-6 col-lg-4 col-xl-3"
            href="https://www.elespectador.com/noticias/economia/anh-advierte-sobre-campana-internacional-en-contra-del-fracking/">
            <div class="card">
                <img src="https://i.imgur.com/71qCRQX.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">ANH señaló la existencia de otro tipo de yacimiento no convencional en el
                        país</h5>
                    <p class="card-text">
                        La Agencia Nacional de Hidrocarburos reveló que se trata de un yacimiento conocido como
                        arena bituminosa (abundante en lugares como Canadá), que se encuentra distribuido en seis
                        cuencas y que puede producir entre 16.000 y 23.000 millones de barriles adicionales de
                        crudo.
                    </p>
                </div>
            </div>
        </a>
        <a class="dirreccion col-12 col-md-6 col-lg-4 col-xl-3"
            href="https://www.elespectador.com/noticias/economia/anh-advierte-sobre-campana-internacional-en-contra-del-fracking/">
            <div class="card">
                <img src="https://i.imgur.com/71qCRQX.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">ANH señaló la existencia de otro tipo de yacimiento no convencional en el
                        país</h5>
                    <p class="card-text">
                        La Agencia Nacional de Hidrocarburos reveló que se trata de un yacimiento conocido como
                        arena bituminosa (abundante en lugares como Canadá), que se encuentra distribuido en seis
                        cuencas y que puede producir entre 16.000 y 23.000 millones de barriles adicionales de
                        crudo.
                    </p>
                </div>
            </div>
        </a>
        <a class="dirreccion col-12 col-md-6 col-lg-4 col-xl-3"
            href="https://www.elespectador.com/noticias/economia/anh-advierte-sobre-campana-internacional-en-contra-del-fracking/">
            <div class="card">
                <img src="https://i.imgur.com/71qCRQX.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">ANH señaló la existencia de otro tipo de yacimiento no convencional en el
                        país</h5>
                    <p class="card-text">
                        La Agencia Nacional de Hidrocarburos reveló que se trata de un yacimiento conocido como
                        arena bituminosa (abundante en lugares como Canadá), que se encuentra distribuido en seis
                        cuencas y que puede producir entre 16.000 y 23.000 millones de barriles adicionales de
                        crudo.
                    </p>
                </div>
            </div>
        </a>
        <a class="dirreccion col-12 col-md-6 col-lg-4 col-xl-3"
            href="https://www.elespectador.com/noticias/economia/anh-advierte-sobre-campana-internacional-en-contra-del-fracking/">
            <div class="card">
                <img src="https://i.imgur.com/71qCRQX.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">ANH señaló la existencia de otro tipo de yacimiento no convencional en el
                        país</h5>
                    <p class="card-text">
                        La Agencia Nacional de Hidrocarburos reveló que se trata de un yacimiento conocido como
                        arena bituminosa (abundante en lugares como Canadá), que se encuentra distribuido en seis
                        cuencas y que puede producir entre 16.000 y 23.000 millones de barriles adicionales de
                        crudo.
                    </p>
                </div>
            </div>
        </a>
    </div>
</section>