<!--Carusel de Imagenes-->
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>
    <!--Rectangulo Amarillo-->
    <div class="amarillo">
        <p>100% Cumplimiento contable y tributario.</p>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://i.imgur.com/MrgvLWj.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://i.imgur.com/wEfhxys.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://i.imgur.com/KfbJfCT.jpg" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<!--Servicios-->
<section class="container fondo">
    <section id="nosotros-banner">
        <div class="text-center py-5">
            <div id="nosotros">
                <h1>NOSOTROS</h1>
            </div>
        </div>
        <div class="container">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non vero ullam quod dolore necessitatibus,
                perferendis quisquam repellat, reiciendis dolorem culpa eum molestiae veniam, itaque atque quo quia? Quam,
                doloribus iste.</p>
        </div>
    </section>
    <div class="text-center py-5">
        <h1>SERVICIOS</h1>
    </div>
        <div class="contenido">
            <div class="row text-center">
                <div class="col-4 servicios">
                    <figure>
                    <img src="https://i.imgur.com/rK7eeJl.jpg" alt="OpenSourcing">
                    <div class="capa">
                        <h5>OpenSourcing<h5>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p> 
                    </div>
                    </figure>
                    <h5>OpenSourcing</h5>
                </div>
                <div class="col-4 servicios">
                    <figure>
                    <img src="https://i.imgur.com/OvP92dk.jpg" alt="Asesoría Tributaria">
                    <div class="capa">
                         <h5>saber mas<h5>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p> 
                    </div>
                    </figure>
                    <h5>Asesoría Tributaria</h5>
                    
                </div>
                <div class="col-4 servicios">
                    <figure>
                    <img src="https://i.imgur.com/e9P8zh7.jpg" alt="Auditoria">
                    <div class="capa">
                         <h5>saber mas<h5>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p> 
                    </div>
                    </figure>
                    <h5>Auditoria</h5>
                </div>
                <div class="col-4 servicios">
                    <figure>
                    <img src="https://i.imgur.com/eA7oDf4.jpg" alt="Asesoría Cambiaria">
                    <div class="capa">
                         <h5>saber mas<h5>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p> 
                    </div>
                    </figure>
                    <h5>Asesoría Cambiaria</h5>
                    
                </div>
                <div class="col-4 servicios">
                    <figure>
                    <img src="https://i.imgur.com/qoRU7oQ.jpg" alt="Revisoría Fiscal">
                    <div class="capa">
                         <h5>saber mas<h5>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p> 
                    </div>
                    </figure>
                    <h5>Revisoría Fiscal</h5>
                    
                </div>
                <div class="col-4 servicios">
                    <figure>
                    <img src="https://i.imgur.com/iPpakDJ.jpg" alt="Consultoria">
                    <div class="capa">
                         <h5>saber mas<h5>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p> 
                    </div>
                    </figure>
                    <h5>Consultoria</h5>
                    <!--<a href="/servicios"><input class="boton" type="button" value="Saber mas..."></a>-->
            </div>
        </div>
    </div>
</section>

