@import url(https://fonts.googleapis.com/css?family=Lato:300|Montserrat:700,400);

:root {
    --color-gris: #202020;
    --color-amarillo: #FACB0A;
    --color-azul: #01AEF2;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

h1{
    font-family: 'Montserrat';
}

h5 {
    font-size: 20px;
    margin: 12px 0 12px 0;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: 0;
    margin-left: 0;
}

.navbar {
    background-color: #fff !important;
    font-size: 20px;
}

.navbar .navbar-nav {
    margin: 0px 50px 0px 50px;

}

.navbar .nav-item a {
    margin: 0 20px 0 20px;
}

.navbar .dropdown-menu {
    background-color: #fff;
}

.dropdown-item:hover {
    background-color: transparent !important;
    color: black;
}

.dropdown-item {
    color: #0d6efd;
    font-size: 18px;
}

.amarillo {
    z-index: 4;
    display: block;
    width: 300px;
    height: 300px;
    background-color: var(--color-amarillo);
    position: absolute;
    right: 10%;
    bottom: -8%;
    border-radius: 40px;
    box-shadow: 15px 5px 30px #222;
    align-items: center;
    justify-content: center;
    display: flex;

}

.amarillo p {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    padding: 10%;
    font-size: 220%;
    text-align: center;
    text-shadow: 1px 3px 5px rgba(0, 0, 0, 0.501);

}

.w-100 {
    width: 100%;
    height: 750px;
}

img,
svg {
    vertical-align: top;
    object-fit: cover;
    display: inline;
}

.logo {
    width: 130px;
    margin: 1px;
    padding: 0px;
}

.servicios {
    margin: 1rem 0rem 1rem 0rem;
}

.servicios img {
    width: 300px;
    height: 200px;
    border-radius: 0rem 3rem 0rem 3rem;
    object-fit: cover;
}

.boton {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    border-radius: 4rem;
    width: 50%;
    height: 12%;
    border: none;
    background: var(--color-azul);
    color: #fff;

}

.fondo {
    background: url(https://i.imgur.com/9XXDoR5.png);
}

.contenedor {
    align-items: center;
    justify-content: center;
    position: relative;
}

/****** Footer ******/

.llamanos img {
    width: 100%;
    height: 40vh;
}

footer {
    background-color: var(--color-amarillo);
    height: 15vh;
    width: 100%;
}

/****** SERVICIOS ******/

.imgservicios img {
    width: 110%;
}

.titulo-servicios {
    align-items: center;
    justify-content: center;
    display: flex;
}

.presentacion {
    margin-bottom: 30px;
}

.titulo-servicios h1 {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 14vh;
    width: 80%;
    text-shadow: 5px 5px 0px rgba(0, 0, 0, 0.501);
    object-fit: cover;
}

.servicio {
    padding: 0px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.servicio h2 {
    margin: 10px 0px 30px 0px;
    text-align: center;

}

.par {
    background: rgba(0, 0, 0, 0.20);
    padding: 40px;
}

.impar {
    padding: 40px;
}

.texto {
    margin: 0px;
    padding: 0px;
}

.beneficios {
    font-weight: 500;
}

.presentacion {
    /*  display: none;*/
    margin: 0px;
}

.ilustracion1 {
    display: block;
    margin: auto;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.ilustracion1 img {
    /* Centrar Imagenes*/
    display: block;
    margin: auto;
    /*******************/
    width: 50%;
    object-fit: cover;
}
/****** CONTACTO ******/

.contacto img{
    width: 100%;
    height: 35vh;
    position: relative;
}
.contactotitulo{
    justify-content: center;
}
.contactotitulo h1{
    position: absolute;
    top:26%;
    text-align: center;
}
/****** anim botones ******/

.contenido figure{
    display:block;
    margin:auto;
    position:relative;
    height: 200px;
    width: 300px;
    overflow: hidden;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.5);
    border-radius: 0rem 3rem 0rem 3rem;
    cursor: pointer;
}

.contenido figure img{
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;
    
}

.contenido figure .capa{
    position: absolute;
    top:0;
    width: 100%;
    height: 100%;
    background: #01aef283;
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}

.contenido figure:hover > .capa{
    opacity: 1;
    visibility: visible;
}

.contenido figure:hover > .capa h5{
    margin-top: 50px;
    margin-bottom: 10px;
}

.contenido figure:hover > img{
    transform: scale(1.3);
}
.contenido figure .capa h5{
    color: #fff;
    font-weight: 400px;
    margin-bottom: 120px;
    transition: all 500ms ease-out;
    margin-top: 20px;
}

.contenido figure .capa p{
    color: #fff;
    font-size: 15px;
    line-height: 1;
    width: 100%;
    max-width: 220px;
    margin: auto;
}

/********Actualidad***********/

.actualidad{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
}


.list-group-item, .list-group-item.active{
  width: 61%;
  color: fff;
  position: relative;
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: #3e4348;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.list-group-item:hover{
    background: linear-gradient(45deg, #BCCEA3, #f8f78e);
    color: rgb(22, 22, 22);
    border: none;
    width: 62%;
}   

.list-group{
    position: fixed;
    left: 20px  ;
    width: 20%;
}

.scrollspy-example{
    user-select: none;
}
.scrollspy-example h4{
    margin: 20px;
}


.actualidad-pagina{ 
    display: flex;
    width: 100%;
    justify-content: center;
}
.actualidad-pagina .row{ 
    width: 70%;
}
.contenedor-noticias {
    display: flex;
    justify-content: space-around;
    max-width: 150%;
    flex-wrap: wrap;
    padding: 10px 0;
}

.contenedor-noticias .card {
    position: relative;
    width: 320px;
    height: 440px;
    box-shadow: 
                inset 5px 5px 5px rgba(0,0,0,0.05),
                inset -5px -5px 5px rgba(255,255,255,0.5),
                5px 5px 5px rgba(0,0,0,0.05),
                -5px -5px 5px rgba(255,255,255,0.5);
    border-radius: 15px;
    margin: 15px;
}

.contenedor-noticias .card .box {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background: #d5edff;
    box-shadow: 0 10px 20px rgb(0, 0, 0, 0.1);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.contenedor-noticias .card:hover .box {
    transform: translateY(-50px);
    box-shadow: 0 10px 40px rgb(0, 0, 0, 0.3);
    background: linear-gradient(45deg, #BCCEA3, #f8f78e);
}

.contenedor-noticias .card .box .contenido {
    padding: 20px;
    text-align: center;
}

.contenedor-noticias .card .box .contenido h2 {
    position: absolute;
    user-select:none;
    top: -10px;
    right: 30px;
    font-size: 8em;
    color: rgb(0, 0, 0, 0.02);
    transition: 0.5s;
    z-index: 5;
}

.contenedor-noticias .card:hover .box .contenido h2 {
    color: rgb(0, 0, 0, 0.05);
    z-index: 5;
}

.contenedor-noticias .card .box .contenido h3 {
    font-size: 1.1em;
    color: #777;
    z-index: 1;
    transition: 0.5s;
}

.contenedor-noticias .card:hover .box .contenido h3,
.contenedor-noticias .card:hover .box .contenido p {
    color: rgb(0, 0, 0);
}

.contenedor-noticias .card .box .contenido p {
    font-size: 1em;
    font-weight: 400;
    color: #777;
    z-index: 1;
    transition: 0.5s;
}

.contenedor-noticias .card .box .contenido a {
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    background: var(--color-azul);
    margin-top: 15px;
    border-radius: 20px;
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    box-shadow: 0 10px 20px rgb(0, 0, 0, 0.2);
}

.contenedor-noticias .card:hover .box .contenido a {
    background: #ff568f;
}
<<<<<<< HEAD
/****** Politicas de privacidad ******/

.politicas{
    display: flex;
    justify-content: center;
    margin: 2em 0em 2em 0em;
}

h4{
    margin: 1em 0em 1em 0em;
}


=======
>>>>>>> Fabian

/****** Responsive ******/

@media (max-width: 1200px) {
    .titulo-servicios h1 {
        font-size: 11vh;
    }

}

@media (max-width: 992px) {
    .ilustracion1 img {
        width: 60%;
    }

    .ilustracion1 {
        width: 80%;
    }

    .titulo-servicios h1 {
        font-size: 9vh;
    }
}

@media (max-width: 768px) {
    .ilustracion1 img {
        width: 80%;
    }
    .contactotitulo h1{
        font-size: 8vh;
    }

    .ilustracion1 {
        width: 80%;
    }

    .titulo-servicios h1 {
        font-size: 6vh;
    }
}

@media (max-width: 576px) {
    .titulo-servicios h1 {
        font-size: 5vh;
    }
    .contactotitulo h1{
        font-size: 7vh;
    }
}

@media (max-width: 400px) {
    .titulo-servicios h1 {
        font-size: 3vh;
    }
    .contactotitulo h1{
        font-size: 7vh;
    }
}
/****** anim imag ******/
@keyframes mover{
    0%{
        transform: translate(100%);
    }
}

@keyframes moverder{
    0%{
        transform: translate(-100%);
    }
}
/****Formulario Contacto****/

/***Contacto Pagina principal***/
#contenedor-contacto{
    margin-top: 5%;
    margin-bottom: 5%;
}
.inner{
    overflow: hidden;
}
.inner img{
    transition: all 1.5s ease;
}
.inner:hover img{
    transform: scale(1.5);
}

